.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #1b262c;
}
h4 {
  margin-right: 40px;
  margin: 40px;
  font-size: 1.5vw;
}
@media (max-width: 1025px) {
  .footer {
    display: flex;
    justify-content: center;
    background-color: #1b262c;
  }
  h4 {
    margin-right: 0;
    margin: 40px;
    font-size: 2vw;
  }
}
@media (max-width: 650px) {
  h4 {
    font-size: 5vw;
  }
}
