* {
  box-sizing: boder-box;
}
body,
a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 0px;
  color: #e6e6e6;
  line-height: 10px;
}
p {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
